body{
  background: #f5f5f5;
}

img {
  display: block;
  margin: auto;
  /*padding-top: 10px;*/
}

#root {
  margin: 0 auto;
  width: 500px;
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.product-title{
  color: #377bb5;
}

.input{
  margin: 5px;
}

.btn-success {
  display: block;
}

.btn-danger {
  display: block;
}
